.el-alert {
  display: inline-block;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: $init-anim;
  padding: 1.2rem 10rem;
  width: auto;

  &.anim {
    top: 15%;
    transition: $init-anim;
  }
}
.el-alert__content {
  display: block;
  padding: 0;
  width: 100%;
}
.el-alert__title {
  display: block;
  font-size: 1.4rem;
  text-align: left;
}
.el-alert__closebtn {
  top: 50%;
  transform: translate(0, -50%);
}