// fonts
$font-stack: "Rubik", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", "YuGothic", "Yu Gothic", "游ゴシック", "游ゴシック体", "Lato", "arial", "helvetica", sans-serif;
$font-rubik: 'Rubik', sans-serif;
$baseFont-size: 1.6rem;
$base-lineHeight: 1.6;

// colors
$base-bl: #191919;
$base-wh: #FFFFFF;
$color-main: #0ecec8;

// inner
$inner-width: 1200px;

// transition
$init-anim: all .3s ease-out;
